<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.is.classroomevnmngapp">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".ApplicationMVVM"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClassroomEvnmngApp">

        <activity android:name=".StartActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

  <!--      <activity android:name=".test.light_control_wifi.WiFiActivity" />
        <activity android:name=".test.light_control_bt.ControllingActivity" />
        <activity
            android:name=".test.light_control_bt.BluetoothMainActivity"
            android:label="@string/title_activity_light_main"
            android:theme="@style/Theme.ClassroomEvnmngApp.NoActionBar">

            &lt;!&ndash;
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            &ndash;&gt;
        </activity>-->

        <activity android:name=".ui.UserMainActivity" android:launchMode="singleTask" />
        <activity android:name=".ui.AdminMainActivity" android:launchMode="singleTask"
            android:configChanges="colorMode" android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".ui.onboarding.OnboardingActivity">
         <!--   <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".ui.AuthMainActivity" android:launchMode="singleTask" />
        <activity android:name=".test.MainActivity" android:launchMode="singleTask" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />



    </application>

</manifest>